<a href="https://colab.research.google.com/github/GouriCR/FMML-projects-and-labs/blob/main/my_first_collab_notebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Question 0 - ANSWER. Methods applicable to each data type.

In [ ]:
##Strings
name = 'Bananas are Basic'
name_u = name.upper()
name_l = name.lower()
name_mod = name.replace('Bananas','Apples')
print(name,"\n",name_u,"\n",name_l,"\n",name_mod)

Bananas are Basic
 BANANAS ARE BASIC
 bananas are basic
 Apples are Basic

In [ ]:
##List
n_list = [4,1,'Oranges','1.1','Colours on fruits']
n_list.extend([6])
m = n_list.copy()
print(m)
print(n_list.pop(2))

[4, 1, 'Oranges', '1.1', 'Colours on fruits', 6]
Oranges

In [ ]:
##Dictionary
d = {"category" : "casual", "material" : "cotton", "colour" : "blue"}
x = d.copy()
y = d.get('colour')
d.pop('material')
print(x)
print(y)
print(d)

{'category': 'casual', 'material': 'cotton', 'colour': 'blue'}
blue
{'category': 'casual', 'colour': 'blue'}

In [ ]:
##Tuples
t = (1,2,4,6,8,3,4,0,2)
print(t.count(4))
print(t.index(6))

2
3

In [ ]:
##Sets
s = {1,3,5,2,6,4,7,9,7}
print(s)
s.add(8)
s.discard(7)
print(s.pop())
print(s)

{1, 2, 3, 4, 5, 6, 7, 9}
1
{2, 3, 4, 5, 6, 8, 9}

  Question 1

In [ ]:
def fn(a,b):

    c = a[::-1]
    d = c+b
    return d

ans = fn("good","morning")
print(ans)

doogmorning

Question 2

In [ ]:
def fn(work_hours):

  max = 0
  worker = None
  for name,hours,gender in work_hours:
    if gender == 'F' and hours > max:
       max = hours
       worker = name

  return worker

work_hours = [('Abby',100 , 'F'),('Billy',400, 'M'),('Cassie',800,'F'), ('Maggi',600,'F'),('Alex',500,'M'),('Raj',225,'M'),('Penny',920,'F'),('Ben',300,'M')]
n = fn(work_hours)
print(n)
for name, hours, gender in work_hours:
    if n == name:
      print("pay = ",hours*20,"$")

Penny
pay =  18400 $